@font-face {
    font-family: 'DM Sans';
    src: url('src/fonts/DMSans_24pt-ExtraLight.ttf');
    font-weight: 200;
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sand-serif;
    font-weight: 200;
}
.container {
    outline: 0.5px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 65%;
}

.left-side {
    position: relative;
    display: inline-block;
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.right-side > * {
    outline: 0.5px solid blue;
    
}

.iphone {
    max-height: 720px;
    max-width: auto;
    display: block;
}

.office {
    position: absolute;
    height: 96%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 45px;
    z-index: 10;
}

.notch {
    position: absolute;
    height: 20px;
    width: 70px;
    top: 5%;
    left: 50%;
    border-radius: 30px;
    background-color: black;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.form {
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.column {
    flex: 1 1 0;
}

.field {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}



