@font-face {
    font-family: 'DM Sans';
    src: url('src/fonts/DMSans_24pt-ExtraLight.ttf');
    font-weight: 200;
    font-style: italic;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    font-weight: 200;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
}

.left-side {
    position: relative;
    display: inline-block;
    
}

.right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
}

.right-side > * {
    
    flex: 1;
    
}
.header {
    background-color: rgb(250, 249, 249);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer {
    background-color: rgb(250, 249, 249);
    padding: 10px;
}

.footer p {
    margin-right: 100px;
}

.header p {
    font-size: 24px;
    font-weight: 5600;
    margin-right: 100px;
    margin-bottom: 50px;
    
}
.iphone {
    max-height: 720px;
    max-width: auto;
    display: block;
    
}

.office {
    position: absolute;
    height: 96%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    border-radius: 45px;
    z-index: 10;
    
}

.notch {
    position: absolute;
    height: 20px;
    width: 70px;
    top: 5%;
    left: 50%;
    border-radius: 30px;
    background-color: black;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.logo {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    border-radius: 50%;
    transform: translate(-50%, 75%);
}

.logo-background {
    height: 150px;
    width: 100%;
    position: absolute;
    z-index: 10;
    background-color: gray;
    
}

.form {
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    
    
}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    
}

.column {
    flex: 1 1 0;
}

.field {
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    
}

input {
    border: 1px solid #E5E7EB;
    outline: none;
}
input:focus {
    border: 1px solid blue;
    box-shadow: 0px 0 1px 1px lightgray;
}


button {
    background-color: #596D48;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 2px lightgray;
}

.password:invalid {
    border-color: red;
}


.confirm_password:invalid{
    border-color: red;
}
